import { useState } from "react";
import axios from "axios";

function Login({ setLogged }) {
  const [email, setEmail] = useState("");
  const [password, setPassword] = useState("");

  const login = async () => {
    try {
      const res = await axios.post("http://127.0.0.1:5000/login", {
        email,
        password
      });

      localStorage.setItem("token", res.data.token);
      setLogged(true);
    } catch (err) {
      alert("Login failed");
    }
  };

  return (
    <div style={box}>
      <h2>ExpenseAI Login</h2>

      <input
        placeholder="Email"
        onChange={e => setEmail(e.target.value)}
      />

      <input
        type="password"
        placeholder="Password"
        onChange={e => setPassword(e.target.value)}
      />

      <button onClick={login}>Login</button>
    </div>
  );
}

const box = {
  maxWidth: 400,
  margin: "120px auto",
  padding: 30,
  background: "#111827",
  color: "white",
  borderRadius: 12,
  display: "flex",
  flexDirection: "column",
  gap: 15
};

export default Login;